<h1>{{ habitsListCtrl.currentCategoryName | uppercase }}</h1>
<div id="content">
	<div ng-class="{'active': isSelectedHabit(habit.id)}" ng-repeat="habit in habitsListCtrl.habits | filter: {category: habitsListCtrl.currentCategoryName}">
		<button type="button" ng-click="deleteHabit(habit)" class="close">&times;</button>
		<button type="button" ng-click="setEditedHabit(habit);startEditing();" class="btn btn-link">Edit</button>
		<a class="main-item" href="#">{{ habit.name }}</a>
		<div class="col-sm-offset-2 main">
			<p>Day {{ habit.current_day }} / 30</p>
		</div>
	</div>
</div>
