h1 {
	font-variant: small-caps;
	text-decoration: underline;
	color: teal;
}

.head1 {
	padding-left: 30px;
}

.head2 {
	padding-left: 100px;
}

h3 {
	padding: 20px;
	font-style: italic;
	font-size: 22px;
}

.wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-width: 150px;
	max-width: 150px;
	padding-left:10px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: teal;
}

.sidebar-header {
	color: white;
	font-family: Verdana;
	text-transform: uppercase;
	font-size: 24px;
}

.menu-item {
	color: white;
	font-family: Verdana;
	font-size: 20px;
}

.main-item {
	color: dimgray;
	font-family: Verdana;
	font-size: 20px;
}

rect {
	stroke: teal;
	stroke-width: 5px;
}

svg {
	height: auto;
	width: 15%;
}

.calendar {
	height: 100px;
	width: 100px;
	fill: white;
}

.header {
	height: 20px;
	width: 100px;
	fill: teal;
}

line {
	stroke: teal;
	stroke-width: 5px;
}

.rows line {
	stroke: teal;
	stroke-width: 1px;
}

.columns line {
	stroke: teal;
	stroke-width: 1px;
}

text {
	font-family: Verdana;
	font-size: 40px;
	fill: white;
	stroke: black;
	stroke-width: 2px;
	text-anchor: center;
}
